<header>
    <nav class="navbar navbar-expand-lg navbar-light myheader mybg" id="mainNav">
        <div class="container-fluid px-4 px-lg-5">
          <a class="navbar-brand" routerLink=""><img src="../../assets/bloglogo.png" alt="" srcset="" style="max-height: 70px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <div class="d-flex w-100">
                <ul class="navbar-nav ms-lg-auto">
                    <!-- <li class="nav-item ">
                      <a class="nav-link active" aria-current="page" routerLink="login"><button class="btn btn-success w-100">Login</button></a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="signup"><button class="btn btn-head">Sign up</button></a>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
      </nav>
      <script>
       
    </script>
</header>

  
